.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
      "image image image"
      ". sometext ."
      "content content content"
    ;
}

.container > div {
    margin: 10px;
}

.image {
    grid-area: image;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-evenly;
    width: 100%;
}

.image img{
    margin: 21px;
    width: 25%;
}

.sometext {
    grid-area: sometext;
    font-family:monospace; 
    font-size: 20px;
    color:rgb(12, 209, 203);
    transition: 0.3s;
}

.sometext:hover {
    font-size: 25px;
    color:rgb(13, 194, 188);
}

.content {
    grid-area: content;
    background-color: rgb(55, 55, 55);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    font-family:monospace;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: large;
    color: white;
}

.content div {
    text-align: center;
}

.content h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.highlight {
    color:sandybrown;
    text-align: center;
}

.repo {
    width: 30px;
    height: 30px;
}

.repo-container {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.language {
    color:rgb(240, 184, 184);
}